/* ブログの一覧ページ用CSS */
#newArrivals {
    font-size: 16px;
    line-height: 1.7em;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 3em;
}
@media (max-width: 500px) {
    #newArrivals {
        font-size: 12px;
    }
}

#newArrivals h1 {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 0.7em;
    font-size: 36px;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 500;
}

#blogBlock {
    padding: 0 5%;
}

.articleUnit {
    text-align: center;
    padding: 0em 0em 1em;
}

.articleUnit + .articleUnit {
    border-top: dotted 1px rgba(0, 0, 0, 0.6);
    padding: 1em 0em 1em;
}


.articleUnit {
    padding: 0;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.articleUnit p {
    margin: 0.5em 0;
}

.articleUnit .title a {
    font-family: Arial, "M PLUS Rounded 1c";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3em;
}

.articleUnit .tags a {
    background-color: #e74c3cee;
    border: 0.5px solid #e74c3cee; /* 横幅に違和感を持たせないため。 */
    color: #ffffff;
    font-size: 14px;
    font-family: "Cascadia Code"; /* 別フォントに変えても良い。 */
    border-radius: 0.2em;
    padding: 0.1em;
    margin:auto 0.3em;
    text-decoration: none; /* 下線を消す */
    transition: 0.1s all;
    display: inline-block; /* inline-blockを指定しないとtransformが使用できない。 */
    line-height: 1.1em; /* inline-blockを指定すると縦幅が大きくなるため、その調整。 */
}

.articleUnit .tags a:hover {
    transform: scale(1.1,1.1);
}

@media (max-width: 500px) {
    .articleUnit .title a {
        font-size: 20px;
        font-weight: 500;
    }
}

/* サイドバーを表示するためのCSS。 */

@media screen and (min-width: 1000px){ /*パソコン用*/
    #main{
        display: flex;
        width: 1000px;
        margin: 1em auto;
        gap: 1em;
    }
    #main .documentcontent{
        flex: 1;
        width: calc(100% - 250px - 1em)
    }
}

@media screen and (max-width:1000px){/*スマホ用*/
    #main{
        display: block;
        margin: 5em auto 1em;/*ハンバーガーボタンがパンくずリストに重ならないようにする雑な応急処置。上になんかメニューとかおいたほうがいいと思う*/
    }
    #sidemenu {
        display: none;
    }
    #newArrivals h1 {
        padding-top: 0.7em;
    }
}




.indextitle {
    margin: auto 1em !important;
}

#indexblock {
    min-width: 220px;
}

#newArrivals{
    width: 100%;
}
