/* 部誌の一覧、個別共通CSS */

ol {
    padding-left: 0px;
}

.author::before {
    content: "✎";
}

blockquote {
    position: relative;
    padding: 30px 15px 8px 15px;
    margin: 10px;
    box-sizing: border-box;
    background: #f8f8f8;
}

    blockquote:before {
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 3px;
        vertical-align: middle;
        font-style: italic;
        content: "\"";
        font-family: sans-serif;
        color: #cfcfcf;
        font-size: 90px;
        line-height: 1;
    }

    blockquote p {
        padding: 0;
        margin: 15px 0;
        line-height: 1.7;
    }

    blockquote cite {
        display: block;
        text-align: right;
        color: #888888;
        font-size: 0.9em;
    }

h2:not(.document-list-content > h2) {
    padding: 0.75em 0.5em;
    border-left: solid rgb(138, 138, 138) 5px;
}

h3 {
    padding: 0.25em 0;
    margin: 1em 0;
    border-bottom: solid rgb(138, 138, 138) 2px;
}

h4 {
    padding: 0.25em 0;
    margin: 1em 0;
    border-bottom: solid rgb(138, 138, 138) 2px;
}

li.indexcontents {
    margin-left:1em;
    padding-left:1em;
    text-indent: -1em;
}

li p {
    text-indent: 0;
}
li.asterisk-1 {
    list-style: disc outside;
}

p.kome::before {
    content: "※";
}

p.kome {
    padding-left:1em;
    text-indent: -1em;
    color: #555;
}

li.check {
    list-style: "✓" outside;
}

li.asterisk-2 {
    list-style: "\27A3" outside;
}

li.asterisk-decimal {
    list-style: decimal outside;
}

.next {
    margin-bottom: 1em;
}

.prev {
    margin-bottom: 1em;
}

.document {
    padding: 1em;
    margin: 1em auto;
    background-color: #fff;
    max-width: 70%;
    text-align: left;
}

li h1 {
    font-size: 18px;
    font-weight: normal;
}

.image-float-right {
    max-width: 45% !important;
    max-height: 10em;
    float: right;
}

.image-float-left {
    max-width: 45% !important;
    max-height: 10em;
    float: left;
}

.float-clear {
    clear: both;
}

.images-side {
    display: flex;
    justify-content: space-between;
}

.image-side {
    display: inline-block;
    max-width: 45% !important;
}

#main .documentcontent .document img {
    max-width: 90%;
    margin: 1em;
}

h2 sub {
    font-weight: normal;
    font-size:60%;
}

.text-center {
    text-align: center;
}

table {
    width: 95%;
    border: solid 1px black;
    margin: 1em auto;
}

table td {
    border: solid 1px black;
}

.text-bold {
    font-weight: bold;
}

.caption {
    margin: 1em 0 0 0 !important;
}

.mathjax-center {
    text-align: center !important;
}

blockquote h1 {
    font-size: 20px;
}

#proof-qed {
    text-align: right;
    margin-right: 1em;
}
/* 部誌の年度別ページ用CSS */

/* 全機器共通CSS (文字色など) */

.documenttitle h1 {
    margin-top: 0;
    color: orange;
    border-bottom: solid 1px #ccc;
    font-size:32px;
}

.documenttitle {
    padding: 1em;
    margin: 1em auto;
    background-color: white;
    max-width: 70%;
    text-align: left;
    height:12em;
}

.documenttitle p {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}

.document .documentcontent {
    padding: 1em 0;
    margin: 0 1em;
}
.document .documentcontent a {
    font-size: 24px;
    font-weight: bold;
}
.document .documentcontent h2 {
    font-size: 16px;
    font-weight: normal;
}
.document .documentcontent p {
    font-size: 16px;
    font-weight: normal;
    color: #555;
}
.document .documentcontent .link-2 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
    text-align: right;
}
.documentcontent + .documentcontent {
    border-top: solid 1px #ccc;
}

.documentdetail {
    border-left: none;
    padding: 0;
}

@media (min-width: 700px) { /* 部誌の表紙を表示するCSS。下限は部誌の紹介文が欄からはみ出さないぐらい。 */
    .documenttitle .documenticon {
        float: left;
        height: 12em;
        margin-right: 1em;
    }
}
@media (max-width: 700px) { /* 部誌の表示を表示しないCSS。 */
    .documenttitle .documenticon {
        display: none;
    }
}

/* 部誌の一覧ページ用のcss */

/* 全機器共通CSS (文字色など) */
.document-list-item {
    background-color: white;
}
.document-list {
    padding: 0em 0.5em 2em;
}

.document-list>.document-list-item>.document-list-content>h2 {
    font-family: "ヒラギノUD丸ゴ W6 JIS2004","Hiragino UD Sans Rd W6 JIS2004", Arial, "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Meiryo UI", sans-serif, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic";
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
}

.document-list>.document-list-item>.document-list-content>h2>a {
    text-decoration: none;
    font-weight: bold;
    color: orange;
    border-bottom: dotted 2px blue;
}

/* 個別CSS */
@media (min-width: 1140px) { /* 部誌を二列表示するCSS。 下限は部誌が二列表示のときに"20xx年度 部誌"が折り返さないぐらいの幅 */
    .document-list {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .document-list>.document-list-item {
        width: 35%;
        margin: 1px;
        padding: 10px;
        background: white;
        display: flex;
        position: relative;
        text-align: left;
        height:300px;
    }

    .document-list-item>.document-list-published-date {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    .document-list-thumb {
        margin-left: auto;
    }

    .document-thumb {
        height:300px;
    }
}

@media (max-width: 1140px) and (min-width: 740px){ /* 部誌を一列表示するときのCSS (従来の表示に近い) 下限は部誌の紹介文をストレス無く読めるぐらいの幅 */
    .document-list>.document-list-item {
        width: 70%;
        margin: 1em auto;
        padding: 10px;
        background: white;
        display: flex;
        position: relative;
        text-align: left;
        height:300px;
    }

    .document-list-item>.document-list-published-date {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    .document-list-thumb {
        margin-left: auto;
    }

    .document-thumb {
        height:300px;
    }
}

@media (max-width: 740px){ /* 部誌を一列に、かつ画像なども一列に表示するCSS。紹介文は排除。 */
    .document-list>.document-list-item {
        width: 250px;
        margin: 1em auto;
        padding: 10px;
        background: white;
        position: relative;
        text-align: center;
        height:auto;
    }

    .document-list-item>.document-list-published-date {
        position: absolute;
        bottom: 4px;
        right: 10px;
    }

    .document-list-item>.document-list-content>p {
        display:none;
    }

    .document-list-thumb {
        margin-left: auto;
        padding-bottom:12px;
    }

    .document-thumb {
        height:300px;
    }
}
