.welcome-slogan {
    font-family: "Kosugi Maru";
    color: white;
    font-size: 80px;
    font-weight: 500;
    padding-top: 70px;
    line-height: 111.31777%; /*(≒(i^i)%)*/
    font-weight: 500;
}

@media (max-width: 700px) {
    .welcome-slogan {
        font-size: 30px;
    }

    .welcome-slogan-small {
        font-size: 20px;
    }
}

body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url(/image/buturi.webp) center/cover no-repeat;
    -webkit-background-size: cover;
}

.frosted {
    margin: 40px auto;
    width: 80%;
    max-width: 800px;
    background: inherit;
    background-position: center center;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,.5);
    overflow: hidden;
    background: rgba(225,225,225,0.3);
}

    .frosted .frosted-title {
    }

    .frosted .frosted-article {
        background: rgba(225,225,225,0.52);
    }

.headline {
    padding-top: 56px;
    text-align: center;
}

    .headline .headline-ja {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 15px;
        padding-bottom: 5px;
    }

    .headline .headline-en {
        font-weight: 700;
        letter-spacing: .14em;
        text-indent: .14em;
        color: #ec407a;
        padding-bottom: 20px;
        font-size: 12px;
    }

@media (max-width: 600px) {
    .headline {
        padding-top: 30px;
    }

        .headline .headline-ja {
            font-weight: bold;
            font-size: 25px;
            margin-bottom: 10px;
            padding-bottom: 3px;
        }

        .headline .headline-en {
            font-weight: 700;
            letter-spacing: .14em;
            text-indent: .14em;
            color: #ec407a;
            padding-bottom: 10px;
            font-size: 8px;
        }
}

#nav-open {
    color: #fff !important;
    background-color: transparent !important;
}

    #nav-open span.bar {
        background-color: #fff !important;
    }

    #nav-open span.close {
        color: #000 !important;
    }

#nav-input:checked ~ #nav-open span.bar {
    background-color: #000 !important;
}

.headline .contentsbox {
    display: inline-block;
    margin: 10px 26px;
    color: #2e3233;
    text-decoration: none;
}

    .headline .contentsbox .headline-ja {
        font-size: 25px;
    }

@media (max-width: 900px) {
    .headline .contentsbox {
        margin: 10px 6px;
    }
}

@media (max-width: 650px) {
    .headline .contentsbox .headline-ja {
        font-size: 17px;
    }
}

.headline .news {
    padding-bottom: 3px;
    text-align: left;
    padding: 0em 0.5em;
    bottom:0;
}

    .headline .news .news-article {
        padding: 1.2em 0.7em 1.2em;
        font-size: 14px;
        height: auto;
    }

    .headline .news.news-article_wrap {
        width: 100%;
        position: relative;
    }

    .headline .news .news-article + .news-article {
        border-top: dotted 1px #e6e6e6;
    }

    .headline .news .news-article .news-link {
        display: block;
        text-decoration: none;
        width: 100%;
        position: relative;
    }

    .headline .news .news-article .arrow {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-top: #666 2px solid;
        border-right: #666 2px solid;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        right: -10px;
        margin: auto;
        bottom: calc(50% - 8px / 2); /* 真ん中(50%)から矢印の高さの半分だけ下に下げることで矢印を中心に */
    }

    .headline .news .news-article .news-date {
        font-weight: 700;
        width: 5.5em;
        display: inline-block;
    }

.headline-group {
    display: flex;
    margin:40px auto;
    width:80%;
    max-width: 800px;
    padding:0px;
}

@media (min-width: 1000px) {
    .headline-group .headline-child-left {
        margin-right:10px;
    }

    .headline-group .headline-child-right {
        margin-left:10px;
        width:250px;
        min-width:250px;
    }
}

@media (max-width: 1000px) {
    .headline-group .headline-child-left {
        display:none;
    }
    .headline-group .headline-child-right {
        width:100%;
    }
}

.contact {
    letter-spacing: -4px;
    padding: 10px;
    text-align: center;
}

    .contact dl {
        display: inline-block;
        letter-spacing: normal;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contact .description {
        display: inline-table;
        vertical-align: middle;
        font-weight: 800;
    }

    .contact .contactIcon {
        padding: 10px;
        color: #9e9e9e;
        fill: #9e9e9e;
        height: 48px;
        width: 48px;
    }

    .contact .mailaddressImage {
        display: inline-table;
        vertical-align: middle;
        width: 246px;
        height: 20px;
    }

@media (max-width: 500px) {
    .contact .contactIcon {
        padding: 5px;
        font-size: 24px;
        width: 24px;
        height: 24px;
    }

    .contact .mailaddressImage {
        width: 123px;
        height: 10px;
    }
}

.footer {
    background-color: transparent;
}
